:root {
  --dim-black: #302918;
  --gold: #fc0;
  --black: #1a1a1a;
  --dark-slate-blue: #1d466a;
  --dim-grey: #6a6761;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #000;
  font-family: Jost, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

h1 {
  color: #211c11;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: Poppins, sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 100px;
}

h2 {
  color: var(--dim-black);
  margin-top: 0;
  margin-bottom: 35px;
  font-family: Poppins, sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
}

h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

h4 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
}

h5 {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
}

h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

p {
  margin-bottom: 25px;
}

a {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

em {
  font-style: italic;
}

.simple-header {
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.simple-logo {
  width: 12vw;
}

.main-content {
  width: 80%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.main-content.utility-banner-content {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-content.style-body-content {
  max-width: 1400px;
}

.main-content.simple-footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-content.header-content {
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-content.hero-content {
  padding-top: 100px;
  padding-bottom: 160px;
  position: relative;
  top: 0;
}

.main-content.embark-content {
  padding-top: 100px;
}

.main-content.team-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-content.bottom-content {
  padding-top: 300px;
  padding-bottom: 1000px;
  position: relative;
}

.main-content.form-content, .main-content.thanks-content {
  color: #fff;
  padding-top: 170px;
  padding-bottom: 1000px;
  position: relative;
}

.main-content.step-content {
  padding-bottom: 100px;
}

.main-content.utility-content {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}

.main-content.crew-content {
  padding-top: 140px;
  padding-bottom: 140px;
}

.paragraph-big {
  font-size: 35px;
  line-height: 45px;
}

.link-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
}

.color-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.button-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.color-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.inner-title {
  border-bottom: 1px solid var(--gold);
  margin-bottom: 15px;
  font-family: Jost, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  display: inline-block;
}

.button-inner {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.style-over-title {
  text-align: center;
  letter-spacing: 3px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: Jost, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
}

.paragraph-small {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.list-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.box-holder {
  border-top: 2px solid var(--gold);
  margin-bottom: 90px;
}

.emphasis-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
}

.paragraph-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.link-inner {
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
}

.link-inner.black {
  background-color: #000;
}

.link-white {
  color: #fff;
}

.button {
  min-width: 220px;
  color: #000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40px;
  padding: 30px 50px;
  line-height: 0;
  transition: color .5s, background-color .5s;
}

.button.button-ghost {
  border: 2px solid #000;
}

.button.button-ghost:hover {
  color: #fff;
  background-color: #000;
}

.button.button-yellow {
  background-color: var(--gold);
  font-weight: 600;
}

.button.button-yellow:hover {
  background-color: var(--black);
  color: #fff;
}

.button.button-yellow.white-hover:hover {
  color: var(--black);
  background-color: #fff;
}

.color-dark-slate-blue {
  height: 70px;
  background-color: var(--dark-slate-blue);
}

.color-gold {
  height: 70px;
  background-color: var(--gold);
}

.color-black {
  height: 70px;
  background-color: var(--black);
  color: var(--dim-grey);
}

.simple-footer-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.simple-footer-right {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.top-section {
  background-color: var(--dark-slate-blue);
  background-image: url('../images/hero-bottom-bg.png'), url('../images/hero-top-bg.png');
  background-position: 50% 100%, 50% 0;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

.header-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-right: -98px;
  padding-right: 0;
  display: flex;
}

.header-inner {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  padding-right: 33px;
  display: flex;
}

.hero {
  text-align: center;
}

.hero-inner {
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.sailboat-image {
  position: relative;
  top: -6px;
}

.hero-box-text {
  width: 100%;
  max-width: 500px;
  color: #fff;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.no-margin {
  margin-bottom: 0;
}

.horizons-section {
  width: 100%;
  max-width: 1010px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.horizons-left {
  color: #fff;
  text-align: left;
}

.border-track-one {
  margin-top: 40px;
}

.border-track-two {
  margin: 40px auto;
  display: block;
}

.embark-section {
  background-color: var(--black);
  color: #fff;
}

.embark-wrapper {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.embark-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.embark-text {
  width: 100%;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.team-wrapper {
  width: 100%;
  max-width: 1000px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.crew-member-wrapper {
  text-align: center;
  margin-bottom: 220px;
}

.crew-name {
  margin-top: 40px;
  margin-bottom: 5px;
}

.crew-list {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.crew-link {
  transition: color .3s;
}

.crew-link:hover {
  color: var(--gold);
}

.crew-link.white {
  color: #fff;
}

.bottom-section {
  color: #fff;
  background-image: url('../images/cloud-top-img_1.png'), url('../images/footer-btm-bg.png'), url('../images/sea-pattern.jpg');
  background-position: 50% 0, 50% 100%, 50% 3%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, 100%, cover;
}

.heading-bottom {
  color: #fff;
  font-size: 130px;
  line-height: 120px;
}

.bottom-inner {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.bottom-text {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.social-wrapper {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: rgba(26, 26, 26, .25);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  transition: background-color .2s;
  display: flex;
}

.social-link:hover {
  background-color: #fc0;
}

.social-inner {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-top: 1px solid rgba(255, 255, 255, .5);
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  display: flex;
}

.social-title {
  margin-bottom: 15px;
}

.cloud-container-big {
  background-image: url('../images/TY-Cloud-Background.png'), url('../images/footer-btm-bg.png'), url('../images/sea-pattern.jpg');
  background-position: 50% -10%, 50% 100%, 50% 0;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, auto, auto;
  overflow: hidden;
}

.form-holder {
  max-width: 705px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.cloud-banner-left {
  position: absolute;
  top: 30%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.cloud-banner-right {
  z-index: 1;
  position: absolute;
  top: auto;
  bottom: 27%;
  left: auto;
  right: -12%;
}

.horizons-image {
  z-index: 2;
  position: relative;
}

.cloud-bottom-left {
  max-width: 696px;
  position: absolute;
  top: auto;
  bottom: 21%;
  left: -7%;
  right: auto;
}

.cloud-bottom-roght {
  max-width: 660px;
  position: absolute;
  top: auto;
  bottom: 40%;
  left: auto;
  right: -24%;
}

.form {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  display: flex;
}

.field {
  width: 45%;
  color: #fff;
  text-indent: 25px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  border-radius: 27px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 600;
}

.field::-ms-input-placeholder {
  color: #fff;
}

.field::placeholder {
  color: #fff;
}

.field.field-wide {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.form-inner {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.form-inner.white {
  max-width: 1000px;
}

.thanks-inner {
  text-align: center;
  margin-bottom: 100px;
}

.team-text-holder {
  width: 70%;
}

.link-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 113px;
  padding-left: 0;
  display: flex;
}

.logo-image {
  margin: 0 auto 0 41px;
  padding-right: 0;
}

.template-container {
  overflow: hidden;
}

.cloud-banner-bottom {
  position: absolute;
  top: auto;
  bottom: 9%;
  left: auto;
  right: 17%;
}

.step-wrapper {
  z-index: 20;
  width: 100%;
  max-width: 1000px;
  grid-row-gap: 120px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.step-box {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.step-box.mirror {
  flex-direction: row;
}

.step-text-block {
  width: 50%;
}

.over-title {
  color: var(--dim-black);
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.step-paragraph {
  color: var(--dim-grey);
  font-weight: 400;
}

.heading-white {
  color: #fff;
}

.image-5 {
  z-index: 20;
  margin-top: -320px;
}

.step-image {
  width: 45%;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  color: #fff;
  background-image: url('../images/sea-pattern-dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.utility-image {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.utility-holder {
  width: 100%;
  max-width: 440px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  transition: color .3s;
}

.link:hover {
  color: var(--gold);
}

.changelog-holder {
  border: 3px solid #273037;
  padding: 40px;
}

.paragraph-medium {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.logo-footer {
  width: 100%;
  max-width: 200px;
}

.licesing-holder {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border: 3px solid #273037;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 60px;
  padding: 40px;
  display: grid;
}

.licesing-list {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 0;
  display: flex;
}

.color-dim-grey {
  background-color: var(--dim-grey);
}

.color-dim-black {
  background-color: var(--dim-black);
}

.not-found-text {
  width: 100%;
  max-width: 700px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.crew-container {
  background-color: var(--dark-slate-blue);
  background-image: url('../images/hero-top-bg.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.other-members {
  text-align: center;
}

.crew-members {
  max-width: 960px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-auto-columns: 1fr;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.crew-member {
  margin-bottom: 20px;
}

.about-text {
  max-width: 700px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.simple-footer-left {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
}

.simple-footer-top {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.simple-footer-bottom {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-info {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  display: flex;
}

.body {
  display: block;
}

.image-6 {
  margin-top: -96px;
  padding: 0 200px;
}

.heading {
  margin-left: 0;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 75px;
    line-height: 83px;
  }

  h2 {
    font-size: 55px;
    line-height: 65px;
  }

  h3 {
    font-size: 50px;
    line-height: 60px;
  }

  h4 {
    font-size: 35px;
    line-height: 45px;
  }

  h5 {
    font-size: 30px;
    line-height: 40px;
  }

  h6 {
    font-size: 25px;
    line-height: 35px;
  }

  .simple-logo {
    width: 24vw;
  }

  .main-content.utility-banner-content {
    padding-top: 80px;
  }

  .main-content.simple-footer-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main-content.hero-content, .main-content.embark-content {
    padding-top: 60px;
  }

  .main-content.team-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .main-content.bottom-content {
    padding-top: 200px;
    padding-bottom: 700px;
  }

  .main-content.form-content, .main-content.thanks-content {
    padding-top: 60px;
    padding-bottom: 800px;
  }

  .main-content.step-content {
    padding-bottom: 60px;
  }

  .main-content.crew-content {
    padding-top: 60px;
  }

  .paragraph-big {
    font-size: 28px;
    line-height: 38px;
  }

  .button-wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }

  .color-title {
    font-size: 20px;
    line-height: 30px;
  }

  .inner-title {
    font-size: 24px;
    line-height: 34px;
  }

  .style-over-title {
    font-size: 28px;
    line-height: 38px;
  }

  .simple-footer-wrapper {
    flex-direction: column;
  }

  .simple-footer-right {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .top-section {
    background-position: 50% 100%, 50% 0;
    background-size: contain, auto;
  }

  .header-inner {
    display: none;
  }

  .horizons-section {
    flex-direction: column;
  }

  .horizons-left, .border-track-one {
    margin-bottom: 40px;
  }

  .team-wrapper {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .crew-member-wrapper {
    margin-bottom: 60px;
  }

  .heading-bottom {
    font-size: 80px;
    line-height: 90px;
  }

  .bottom-inner {
    margin-bottom: 50px;
  }

  .social-wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .cloud-banner-left {
    top: 18%;
    left: -30%;
  }

  .cloud-banner-right {
    right: -50%;
  }

  .cloud-bottom-left {
    left: -30%;
  }

  .cloud-bottom-roght {
    right: -50%;
  }

  .team-text-holder {
    width: 100%;
  }

  .step-wrapper {
    grid-row-gap: 90px;
  }

  .image-5 {
    margin-top: -150px;
  }

  .crew-members {
    grid-template-columns: auto auto;
  }

  .simple-footer-left {
    text-align: center;
  }

  .footer-info {
    margin-top: 350px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 60px;
  }

  h3 {
    font-size: 45px;
    line-height: 55px;
  }

  h4 {
    font-size: 30px;
    line-height: 40px;
  }

  h5 {
    font-size: 25px;
    line-height: 35px;
  }

  h6 {
    font-size: 20px;
    line-height: 30px;
  }

  p {
    font-size: 18px;
    line-height: 26px;
  }

  .simple-logo {
    width: 30vw;
  }

  .main-content.utility-banner-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .main-content.embark-content {
    padding-top: 60px;
  }

  .main-content.team-content {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .main-content.bottom-content, .main-content.form-content, .main-content.thanks-content {
    padding-bottom: 100px;
  }

  .paragraph-big {
    font-size: 22px;
    line-height: 32px;
  }

  .button-wrapper {
    grid-template-columns: 1fr;
  }

  .style-over-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 36px;
  }

  .list-wrapper {
    grid-template-columns: 1fr;
  }

  .box-holder {
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .emphasis-wrapper {
    grid-template-columns: 1fr;
  }

  .top-section {
    background-position: 50% 100%, 50% 0;
    background-size: contain, auto;
  }

  .team-wrapper {
    margin-bottom: 50px;
  }

  .crew-member-wrapper {
    margin-bottom: 90px;
  }

  .crew-list {
    grid-template-columns: 1fr 1fr;
  }

  .bottom-section {
    background-image: url('../images/cloud-top-img.png'), url('../images/sea-pattern.jpg');
    background-position: 50% -7%, 50% 3%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
  }

  .heading-bottom {
    font-size: 65px;
    line-height: 75px;
  }

  .social-wrapper {
    grid-template-columns: 1fr;
  }

  .social-title {
    font-size: 40px;
    line-height: 50px;
  }

  .cloud-container-big {
    background-image: url('../images/TY-Cloud-Background.png'), url('../images/sea-pattern.jpg');
    background-position: 50% 0, 50% -15%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
  }

  .cloud-banner-left {
    top: 16%;
    left: -55%;
  }

  .cloud-bottom-left, .cloud-bottom-roght {
    display: none;
  }

  .link-block {
    width: 45%;
  }

  .step-box {
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: stretch;
  }

  .step-box.mirror {
    flex-direction: column;
  }

  .step-text-block {
    width: 100%;
  }

  .step-image {
    width: auto;
  }

  .changelog-holder {
    padding: 20px;
  }

  .licesing-holder {
    grid-template-columns: 1fr;
    margin-top: 40px;
    padding: 20px;
  }

  .crew-members {
    grid-template-columns: auto;
  }

  .simple-footer-top {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
  }

  .simple-footer-bottom {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: column;
  }

  .footer-info {
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 43px;
    line-height: 52px;
  }

  h2 {
    font-size: 43px;
    line-height: 53px;
  }

  .simple-logo {
    width: 50vw;
  }

  .main-content.hero-content {
    padding-top: 30px;
  }

  .main-content.form-content, .main-content.thanks-content {
    padding-bottom: 100px;
  }

  .paragraph-big {
    font-size: 20px;
    line-height: 30px;
  }

  .link-wrapper {
    grid-template-columns: 1fr;
  }

  .button-ghost {
    width: 100%;
    min-width: auto;
  }

  .color-title {
    font-size: 18px;
    line-height: 28px;
  }

  .style-over-title {
    font-size: 24px;
    line-height: 34px;
  }

  .paragraph-small.no-margin {
    line-height: 20px;
  }

  .list-wrapper {
    grid-template-columns: 1fr;
  }

  .link-inner {
    justify-content: flex-start;
  }

  .button.button-yellow {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .simple-footer-right {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-direction: column;
  }

  .bottom-section {
    background-position: 50% -12%, 50% -1%;
  }

  .heading-bottom {
    font-size: 40px;
    line-height: 53px;
  }

  .social-title {
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 45px;
  }

  .cloud-container-big {
    background-position: 50% 0, 50% -8%;
  }

  .cloud-banner-left, .cloud-banner-right, .cloud-bottom-left {
    display: none;
  }

  .field {
    width: 100%;
  }

  .link-block {
    width: 60%;
  }

  .image-5 {
    margin-top: -100px;
  }

  .logo-footer {
    margin-left: auto;
    margin-right: auto;
  }

  .simple-footer-left {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .footer-info {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: column;
  }
}


